* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #FFD6EA;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 70%;
    margin-bottom: 50px;
    background-image: url('O_GRANDE_CIRCO_APRESENTA.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.container .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;

    background-color: #B4E6E3;
}

.container .buttons button:hover {
    cursor: pointer;
}

.container .buttons .check {
    background-color: greenyellow;
}


.container .buttons img {
    padding: 10px;
}


@media (max-width: 424px) {
    .container {
        width: 100%;
        background-size: cover;
    }
}


@media (min-width: 425px) and (max-width: 767px) {
    .container {
        width: 90%;
        background-size: cover;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        background-size: 70%;
    }
}


@media (min-width: 1024px) {
    .container {
        background-size: 48%;
    }
}