* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #FFD6EA;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    background-image: url('O_GRANDE_CIRCO_APRESENTA....jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.container .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    gap: 75px;
    flex-direction: row;
    margin-right: 105px;
    margin-bottom: 7%;

}

.container .buttons button {
    padding: 50px;
    border-radius: 100vh;

    background-color: #B4E6E3;
}